.subcontainer-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.subcontainer-home > h1 {
  margin: 20px;
  padding: 10px;
}

.logo-home{
  margin: 5% 0;
  width: 300px;
  border-radius: 150px;
}